.info {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}

.info .label {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  left: -40px;
  background: #88080877;
}

.control-panel {
  position: absolute;
  left: 25px;
  bottom: 25px;
  /* width: 400px;
  height: 200px;
  background: #0e0f23;
  border-radius: 5px;
  border: 1px solid #545675; */
}
